/* CSS for the buttons*/
:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: #ffffff;
    --color-secondary: #729f9b;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
}

.back-button {
   border: none;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

.multi-button {
    margin-top: 5px;
    display: flex;
    width: 20%;
    box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
            calc(var(--space) / 1.125)
            var(--space)
            var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}

.multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}

.multi-button button:active {
    transform: translateY(var(--border-size));
}
.multi-button button{
    margin-top: 5px;
}

/*css for the paragraphs*/

p{
    font-family: 'Fira Code', monospace;
    font-size: 13px;
}



/*The following few CSS make up the drop down menu for the resize function.*/
.dropbtn {
    background-color: white;
    color: #729f9b;
    padding: 10px;
    font-size: 14px;
    border: 0.5px solid black;
    font-family: monospace;
    shadow: rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
}

.dropdown-content a:hover {background-color: white; color: #729f9b;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #729f9b; color: white;}
/* this CSS is for setting up the body, button, and setting max dimensions for img that shows up*/
body{
    margin-left: 10px;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c912fc14d8711855775d266/1563841321027-U40IFVYXUP900BP587U2/ke17ZwdGBToddI8pDm48kL0mWSpxM0MmUzJFNjHqLOIUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcIL7zs5xscvPh-hJwYitlH28CqA5flcOXfycBmRYdmNWndx0SBYXGElB-OliRy4u0/ranger-4df6c1b6.png?format=2500w");
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 0;
    top: 0;
}
button{
    background-color: white;
    color: #729f9b;
    border: 0.5px solid black;
    width: 100px;
    height: 50px;

    margin-top: 5px;
    font-family: monospace;
    shadow: rgba(0, 0, 0, 0.1);
}
button:focus, button:hover {
    color: white;
    background-color: #729f9b;
}
img{
    max-width:300px;
    max-height:300px;
}

/* This is CSS for h1 */

h1 {
    font-family: "Arial Black", sans-serif;
    margin-bottom: -2px;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 1000;
    color: #729f9b;
    text-align: left;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

/* add CSS for a link*/
a{
    color: #159ce5;
}
